In [5]:
import os

import pandas as pd
import matplotlib
import seaborn

from twip.constant import DATA_PATH

%matplotlib inline
from IPython.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 12)

In [15]:
tfdf = pd.read_csv(os.path.join(DATA_PATH, 'tweet_vocab.csv.gz'), index_col=0, compression='gzip',
                   quotechar='"', quoting=pd.io.common.csv.QUOTE_NONNUMERIC, low_memory=False)
tfdf.describe()

                 tf            df
count  16039.000000  16039.000000
mean      84.926242     78.312488
std      749.897576    642.629446
min        5.000000      5.000000
25%        7.000000      7.000000
50%       12.000000     12.000000
75%       31.000000     31.000000
max    41983.000000  34885.000000

If you try to allocate a 16k word by 100k document DataFrame of 64-bit integers, you'll get a memory error on a 16 GB laptop.  
Later we'll learn about "constant RAM" tools that can handle an unlimitted stream of documents with a large (1M word) vocabulary. But first let's be frugal and see what we can do with robust, mature tools like Pandas.  
Rather than cutting back on those 100k tweets, lets cut back on the words. What are all those 16k words and how often are they all used (maybe we can ignore infrequent words).

In [16]:
GB = 8 * (100 * 1000 * len(tfdf)) / 1.e9
GB

12.8312

In [6]:
tfdf

               tf    df
0            1417  1395
0.0           355   354
0.1           610   604
0.10           31    31
0.11           24    24
0.12            9     9
0.13           25    25
0.14           19    19
0.15            6     6
0.16            6     6
0.17            8     8
0.2           332   332
0.23            8     8
0.3           194   194
0.4           166   166
0.48            5     5
0.5           142   141
0.6            77    77
0.7           135   135
0.8            51    51
0.9           106   106
0.95           10    10
0.99            5     5
00            265   254
000           220   193
0000           29    29
000location    34    34
001            82    82
0094            6     6
00end          12    12
...           ...   ...
zoom           10    10
zoos           63    63
zope            5     5
zox5k2m7af     17    17
zplcxm2kt5     15    15
zqjamnuzor     10    10
zqr3qrlhpm      5     5
zr5hmvt7sx      6     6
zskvfqxnsp      5     5
zsl107         26    13
zt5cnjsani      5     5
ztjnozf2kg      6     6
zuatp0mcwg     16    16
zuszrgeh43      8     8
zuzyipksae      6     6
zvhvcoimfa     14    14
zvio3kiqyf      5     5
zvtwx3yfh7      6     6
zxspectrum      5     5
zxzjnjglto      6     6
zy0nsstslv     27    27
zyawcccfsf      5     5
zyb8iaoshz     10    10
zynga           5     5
zyqr9yecut      8     8
zyy8hfkryw      5     5
zzffhpycwd      5     5
zzisqvsjbf      6     6
zzp            14     9
zzrkwxgbqv     21    21

[16039 rows x 2 columns]

Fortunately the odd words are at the top and bottom of an alphabetical index!  
And it does look like the less useful tokens aren't used many times or in many documents.  
What do you notice that might help distinguish "natural" words (zoom, zoos, zope, zynga) from URLs and machine-code (000, zzp, zsl107)?

In [11]:
tfdf = tfdf[tfdf.df > 9]
tfdf = tfdf[(tfdf.df > 9) & (((tfdf.df - tfdf.tf) / tfdf.tf) < 0.15)]
tfdf = tfdf[(tfdf.df > 20) & (((tfdf.df - tfdf.tf) / tfdf.tf) < 0.15)]
tfdf

               tf    df
0            1417  1395
0.0           355   354
0.1           610   604
0.10           31    31
0.11           24    24
0.13           25    25
0.2           332   332
0.3           194   194
0.4           166   166
0.5           142   141
0.6            77    77
0.7           135   135
0.8            51    51
0.9           106   106
00            265   254
000           220   193
0000           29    29
000location    34    34
001            82    82
01             22    22
01665         142   142
02             43    42
03             30    28
039            98    62
04            479   471
048            53    53
08             26    26
09             39    37
0980           42    42
0cutio4m3n     54    54
...           ...   ...
you'll         54    54
you're        241   237
you've         43    43
you.make       28    28
young          40    40
your         3304  2981
yours          25    25
yourself      261   260
youtube      1366  1361
yprez          79    79
yqymivfnta     25    25
yrs            98    79
ys             21    21
z              30    26
z3             35    35
z43ozod7dp     25    25
zcttpq86op     39    39
zeitweist      31    31
zen           263   263
zero           60    58
zh3gs0wbno     21    21
zip           309   307
zkhubgycwc     32    32
zm8djgozul     39    39
zoo            50    48
zookeeper      66    66
zoologimy      21    21
zoos           63    63
zy0nsstslv     27    27
zzrkwxgbqv     21    21

[5391 rows x 2 columns]

In [ ]:
Numpy arrays (guts of Pandas DataFrame) require 8 bytes for each double-precision value (int64)

In [14]:
GB = 8 * (100 * 1000 * len(tfdf)) / 1.e9
GB

4.3128

Memory requirements (4 GB) are doable  
But we've lost important words: **"zoom"**  
And there's still a bit of garbage: **"zh3gs0wbno"**  
These look like keys, slugs, hashes or URLs  
Even though the tweets.json format includes a column for URLs  
The URLs are left within the raw text as well  
Let's use a formal but simple grammar engine:

## Extended regular expressions

In [27]:
from pug.nlp import constant
# constant.uri_schemes_popular = ['chrome', 'https', 'http', ]
url_scheme_popular = r'(\b(' + '|'.join(constant.uri_schemes_popular) + r')[:][/]{2})'
fqdn_popular = r'(\b[a-zA-Z0-9-.]+\b([.]' + r'|'.join(constant.tld_popular) + r'\b)\b)'
url_path = r'(\b[\w/?=+#-_&%~\'"\\.,]*\b)'

pd.set_option('display.max_rows', 14)
pd.Series(constant.uri_schemes_iana)

0      ms-secondary-screen-controller
1      ms-settings-connectabledevices
2       ms-settings-displays-topology
3        ms-settings-emailandaccounts
4         ms-settings-nfctransactions
5          ms-settings-screenrotation
6           ms-secondary-screen-setup
                    ...
237                                aw
238                                gg
239                                go
240                                im
241                                ni
242                                tv
243                                ws
dtype: object

In [28]:
url_popular = r'(\b' + r'(http|https|svn|git|apt)[:]//' + fqdn_popular + url_path + r'\b)'
tweet = "Play the [postiive sum game](http://totalgood.com/a/b?c=42) of life instead of svn://us.gov."
import re
re.findall(url_popular, tweet)

[('http://totalgood.com/a/b?c=42',
  'http',
  'totalgood.com',
  '.com',
  '/a/b?c=42'),
 ('svn://us.gov', 'svn', 'us.gov', 'gov', '')]