In [3]:
import pytraj as pt

In [5]:
traj = pt.iterload("../tests/data/md1_prod.Tc5b.x", "../tests/data/Tc5b.top")

dihedrals = pt.multidihedral(traj, 'phi psi')
dihedrals

<pytraj.DatasetList with 38 datasets>
psi:1
[ 154.85298804  164.12468166  130.30039598  156.79457574  153.107096
  170.91703326 -178.28630167  170.0462619   123.09102888  156.59330585]

phi:2
[-161.05606872 -134.84295355 -107.02687069 -148.50828241 -116.02075527
 -133.32423279  -68.2859731  -100.84894912  -89.82520065  -72.65411987]

psi:2
[ 142.4180593   152.05825118  125.00161064  149.45265893  132.05020195
  143.35015398  156.89116986  143.71528591  160.89418438  171.16918494]
...

psi:19
[ 167.62328208  121.57051801  142.65769905  173.52975065  141.44039963
  157.53109264  152.10139862  -24.62935106  -15.27912796  -29.29872084]

phi:20
[-147.57911414  -76.95104037 -154.09158263  -80.06141861 -143.17467645
 -146.75458682 -132.59519588 -141.58874412  -73.01104403  -94.34620155]

<span style="color:blue; font-size:2em;">Combine with *panda*</span>

In [8]:
dihedrals.to_dataframe()[['psi:1', 'psi:2']]

        psi:1       psi:2
0  154.852988  142.418059
1  164.124682  152.058251
2  130.300396  125.001611
3  156.794576  149.452659
4  153.107096  132.050202
5  170.917033  143.350154
6 -178.286302  156.891170
7  170.046262  143.715286
8  123.091029  160.894184
9  156.593306  171.169185