In [6]:
from __future__ import division, print_function, absolute_import

import os
from decimal import Decimal
from traceback import print_exc

import pandas as pd
import pandas_profiling

# you really want to be efficient about RAM, so user iter and itertools
# from itertools import izip
from twip.constant import DATA_PATH

import matplotlib
%matplotlib inline

In [7]:
# this should load 100k tweets in about a minute
print('Loading tweets (could take a minute or so)...')
df = pd.read_csv(os.path.join(DATA_PATH, 'all_tweets.csv'), index_col='id', engine='python', encoding='utf-8',
                 quotechar='"', quoting=pd.io.common.csv.QUOTE_NONNUMERIC, low_memory=False)
# in iPython Notebook print out df.columns to show that many of them contain dots
# rename the columns to be attribute-name friendly
df.columns = [label.replace('.', '_') for label in df.columns]
print('Done.')

Loading tweets (could take a minute or so)...
Done.

In [8]:
# in iPython Notebook, try dropping with lower thresholds, checking column and row count each time
print('The raw table shape is {}'.format(df.shape))
nonnull_rows = 330
nonnull_cols = 50
df = df.dropna(axis=1, thresh=nonnull_rows)
print('After dropping columns with fewer than {} nonnull values, the table shape is {}'.format(nonnull_rows, df.shape))
df = df.dropna(axis=0, thresh=nonnull_cols)
print('After dropping rows with fewer than {} nonnull values, the table shape is {}'.format(nonnull_cols, df.shape))


# in ipython notebook, explore and describe the DataFrame columns
print('Of the {} columns, {} are actually DataFrames'.format(len(df.columns), sum([not isinstance(df[col], pd.Series) for col in df.columns])))
# remove dataframes with only 2 columns and one is the _str of the other:
for col in df.columns:
    if isinstance(df[col], pd.DataFrame):
        print('Column {} is a {}-wide DataFrame'.format(col, len(df[col].columns)))
        if df[col].columns[1] == df[col].columns[0] + '_str':
            print('Column {} looks easy because it has sub-columns {}'.format(col, df[col].columns))
            df[col] = df[col][df[col].columns[1]]
        else:
            try:
                assert(float(df[col].iloc[:, 0].max()) == float(df[col].iloc[:, 1].max()))
                df[col] = df[col].fillna(-1, inplace=False)
                series = pd.Series([int(Decimal(x)) for x in df[col].iloc[:, 1].values]).astype('int64').copy()
                del df[col]
                df[col] = series
                print('Finished converting column {} to type {}({})'.format(col, type(df[col]), df[col].dtype))
            except:
                print_exc()

print('Of the {} columns, {} are still DataFrames after trying to convert both columns to long integers'.format(
    len(df.columns), sum([not isinstance(df[col], pd.Series) for col in df.columns])))

The raw table shape is (99535, 350)
After dropping columns with fewer than 330 nonnull values, the table shape is (99535, 246)
After dropping rows with fewer than 50 nonnull values, the table shape is (98405, 246)
Of the 246 columns, 8 are actually DataFrames
Column quoted_status_id is a 2-wide DataFrame
Finished converting column quoted_status_id to type <class 'pandas.core.series.Series'>(float64)
Column quoted_status_id_str is a 2-wide DataFrame
Finished converting column quoted_status_id_str to type <class 'pandas.core.series.Series'>(float64)
Column retweeted_status_quoted_status_id is a 2-wide DataFrame
Finished converting column retweeted_status_quoted_status_id to type <class 'pandas.core.series.Series'>(float64)
Column retweeted_status_quoted_status_id_str is a 2-wide DataFrame
Finished converting column retweeted_status_quoted_status_id_str to type <class 'pandas.core.series.Series'>(float64)
Of the 242 columns, 0 are still DataFrames after trying to convert both columns to long integers

In [9]:
print('df.describe() stats:')
desc = df.describe()
for col, stats in desc.T.iterrows():
    print('')
    print('{} ({})'.format(col, df[col].dtype if isinstance(df[col], pd.Series) else type(df[col])))
    print(stats)

df.describe() stats:

/home/hobs/.virtualenvs/twip/local/lib/python2.7/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

quoted_status_retweet_count (float64)
count      754.000000
mean       225.071618
std       1466.800347
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max      23318.000000
Name: quoted_status_retweet_count, dtype: float64

quoted_status_user_favourites_count (float64)
count       754.000000
mean       8663.230769
std       24785.825849
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      269482.000000
Name: quoted_status_user_favourites_count, dtype: float64

quoted_status_user_followers_count (float64)
count    7.540000e+02
mean     2.342662e+05
std      1.687835e+06
min      1.200000e+01
25%               NaN
50%               NaN
75%               NaN
max      3.850663e+07
Name: quoted_status_user_followers_count, dtype: float64

quoted_status_user_friends_count (float64)
count       754.000000
mean       3775.824934
std       14528.856528
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      181261.000000
Name: quoted_status_user_friends_count, dtype: float64

quoted_status_user_id (float64)
count    7.540000e+02
mean     2.545139e+16
std      1.321662e+17
min      4.816000e+03
25%               NaN
50%               NaN
75%               NaN
max      7.268294e+17
Name: quoted_status_user_id, dtype: float64

quoted_status_user_id_str (float64)
count    7.540000e+02
mean     2.545139e+16
std      1.321662e+17
min      4.816000e+03
25%               NaN
50%               NaN
75%               NaN
max      7.268294e+17
Name: quoted_status_user_id_str, dtype: float64

quoted_status_user_listed_count (float64)
count       754.000000
mean       1639.852785
std        8547.734310
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      173929.000000
Name: quoted_status_user_listed_count, dtype: float64

quoted_status_user_statuses_count (float64)
count       754.000000
mean      25134.769231
std       49857.465868
min           4.000000
25%                NaN
50%                NaN
75%                NaN
max      354746.000000
Name: quoted_status_user_statuses_count, dtype: float64

quoted_status_user_utc_offset (float64)
count      623.000000
mean     -8774.638844
std      17871.374986
min     -39600.000000
25%               NaN
50%               NaN
75%               NaN
max      43200.000000
Name: quoted_status_user_utc_offset, dtype: float64

retweet_count (float64)
count     98405.000000
mean         56.837823
std         965.450259
min           0.000000
25%           0.000000
50%           1.000000
75%           4.000000
max      166648.000000
Name: retweet_count, dtype: float64

retweeted_status_favorite_count (float64)
count     34564.000000
mean        164.355630
std        1510.055532
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      144713.000000
Name: retweeted_status_favorite_count, dtype: float64

retweeted_status_id (float64)
count    3.456400e+04
mean     7.211856e+17
std      3.109526e+16
min      3.613619e+09
25%               NaN
50%               NaN
75%               NaN
max      7.275290e+17
Name: retweeted_status_id, dtype: float64

retweeted_status_id_str (float64)
count    3.456400e+04
mean     7.211856e+17
std      3.109526e+16
min      3.613619e+09
25%               NaN
50%               NaN
75%               NaN
max      7.275290e+17
Name: retweeted_status_id_str, dtype: float64

retweeted_status_in_reply_to_status_id (float64)
count    1.117000e+03
mean     7.204485e+17
std      2.992915e+16
min      3.613582e+09
25%               NaN
50%               NaN
75%               NaN
max      7.275190e+17
Name: retweeted_status_in_reply_to_status_id, dtype: float64

retweeted_status_in_reply_to_status_id_str (float64)
count    1.117000e+03
mean     7.204485e+17
std      2.992915e+16
min      3.613582e+09
25%               NaN
50%               NaN
75%               NaN
max      7.275190e+17
Name: retweeted_status_in_reply_to_status_id_str, dtype: float64

retweeted_status_in_reply_to_user_id (float64)
count    1.393000e+03
mean     1.438282e+16
std      1.004640e+17
min      5.339000e+03
25%               NaN
50%               NaN
75%               NaN
max      7.234400e+17
Name: retweeted_status_in_reply_to_user_id, dtype: float64

retweeted_status_in_reply_to_user_id_str (float64)
count    1.393000e+03
mean     1.438282e+16
std      1.004640e+17
min      5.339000e+03
25%               NaN
50%               NaN
75%               NaN
max      7.234400e+17
Name: retweeted_status_in_reply_to_user_id_str, dtype: float64

retweeted_status_quoted_status_favorite_count (float64)
count     1412.000000
mean       128.676346
std        641.991896
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max      22699.000000
Name: retweeted_status_quoted_status_favorite_count, dtype: float64

retweeted_status_quoted_status_retweet_count (float64)
count     1412.000000
mean       105.660765
std        484.172127
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max      17293.000000
Name: retweeted_status_quoted_status_retweet_count, dtype: float64

retweeted_status_user_favourites_count (float64)
count     34564.000000
mean       6556.545828
std       19014.864620
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      424498.000000
Name: retweeted_status_user_favourites_count, dtype: float64

retweeted_status_user_followers_count (float64)
count    3.456400e+04
mean     1.658826e+05
std      1.035896e+06
min      0.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      3.850754e+07
Name: retweeted_status_user_followers_count, dtype: float64

retweeted_status_user_friends_count (float64)
count     34564.000000
mean       6972.357424
std       20664.927254
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      554702.000000
Name: retweeted_status_user_friends_count, dtype: float64

retweeted_status_user_id (float64)
count    3.456400e+04
mean     2.692105e+16
std      1.360227e+17
min      2.200000e+01
25%               NaN
50%               NaN
75%               NaN
max      7.267090e+17
Name: retweeted_status_user_id, dtype: float64

retweeted_status_user_id_str (float64)
count    3.456400e+04
mean     2.692105e+16
std      1.360227e+17
min      2.200000e+01
25%               NaN
50%               NaN
75%               NaN
max      7.267090e+17
Name: retweeted_status_user_id_str, dtype: float64

retweeted_status_user_listed_count (float64)
count     34564.000000
mean       1364.608871
std        6070.081716
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      173930.000000
Name: retweeted_status_user_listed_count, dtype: float64

retweeted_status_user_statuses_count (float64)
count    3.455200e+04
mean     2.550541e+04
std      5.831330e+04
min      1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      1.235370e+06
Name: retweeted_status_user_statuses_count, dtype: float64

retweeted_status_user_utc_offset (float64)
count    25303.000000
mean     -9104.821563
std      15862.625806
min     -39600.000000
25%               NaN
50%               NaN
75%               NaN
max      46800.000000
Name: retweeted_status_user_utc_offset, dtype: float64

user_favourites_count (float64)
count     98391.000000
mean       2610.526115
std       11279.405726
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      661637.000000
Name: user_favourites_count, dtype: float64

user_followers_count (float64)
count    9.839100e+04
mean     3.093464e+03
std      6.197171e+04
min      0.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      1.038394e+07
Name: user_followers_count, dtype: float64

user_friends_count (float64)
count     98391.000000
mean       1291.734925
std        5653.808701
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max      382464.000000
Name: user_friends_count, dtype: float64

user_id (float64)
count    9.839100e+04
mean     6.717982e+16
std      2.086599e+17
min      2.200000e+01
25%               NaN
50%               NaN
75%               NaN
max      7.274945e+17
Name: user_id, dtype: float64

user_id_str (float64)
count    9.839100e+04
mean     6.717982e+16
std      2.086599e+17
min      2.200000e+01
25%               NaN
50%               NaN
75%               NaN
max      7.274945e+17
Name: user_id_str, dtype: float64

user_listed_count (float64)
count    98391.000000
mean       349.854540
std       1053.931396
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max      95363.000000
Name: user_listed_count, dtype: float64

user_statuses_count (float64)
count    9.839100e+04
mean     6.382632e+04
std      1.374776e+05
min      1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      2.357119e+06
Name: user_statuses_count, dtype: float64

user_utc_offset (float64)
count    57744.000000
mean     -5419.622818
std      18536.802288
min     -39600.000000
25%               NaN
50%               NaN
75%               NaN
max      46800.000000
Name: user_utc_offset, dtype: float64

quoted_status_id (float64)
count    9.728300e+04
mean     5.595990e+15
std      6.336782e+16
min     -1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      7.275211e+17
Name: quoted_status_id, dtype: float64

quoted_status_id_str (float64)
count    9.728300e+04
mean     5.595990e+15
std      6.336782e+16
min     -1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      7.275211e+17
Name: quoted_status_id_str, dtype: float64

retweeted_status_quoted_status_id (float64)
count    9.728300e+04
mean     1.054961e+16
std      8.674438e+16
min     -1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      7.275131e+17
Name: retweeted_status_quoted_status_id, dtype: float64

retweeted_status_quoted_status_id_str (float64)
count    9.728300e+04
mean     1.054961e+16
std      8.674438e+16
min     -1.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      7.275131e+17
Name: retweeted_status_quoted_status_id_str, dtype: float64

In [10]:
# this takes a few minutes
print('Using pandas_profiling to generate more detailed stats, including correlation between columns, skew etc')
# pandas_profiling.ProfileReport raises Tkinter exceptions before it can produce any output,
#  at least describe produces a dataframe of stats
report = pandas_profiling.describe(df)
print(report['table'])

print('')
for col, stats in report['variables'].iterrows():
    print('')
    print(col)
    # print('{} ({})'.format(col, df[col].dtype if isinstance(df[col], pd.Series) else type(df[col])))
    print(stats)

# and if you thought that was bad, try printing out all the report['freq'] dict of histograms

Trying to compute a ProfileReport, including correlation between columns, skew etc
{'total_missing': 0.63156452411853847, 'UNIQUE': 0, 'CONST': 3, 'nvar': 243, 'REJECTED': 15, 'n': 98405, 'NUM': 28, 'CORR': 12, 'memsize': '182.4 MiB', 'DATE': 0, 'CAT': 200, 'recordsize': '1.9 KiB', 'n_duplicates': 0}